body {
    background-color: FloralWhite;
}
h1 {
    text-align: center;
}
.head1 {
    background-color: cadetblue;
    color: white;
}
#head2 {
    background-color: beige;
    color: dodgerblue;
}
